body {
    height:300vh;
    background-color: #161616;
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 100%;
    display: grid;   
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 10px;
}

header {
    padding: 30px;
}

.box {   
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: span 1;
    grid-column: span 1;
    cursor: pointer;
}

h1{
    font-size: 39px;
    font-weight: bold;
    line-height: 70px;
    color: rgb(229, 226, 226);
}

h2{
    font-size: 25px;
    color: rgb(229, 226, 226);
}

h3{  
    font-size: 22px;
    background-color: white;
}

h4{
    font-size: 18px;
    color: white;
    padding: 10px;
}

nav{
    float: right;   
}

p{   
    padding: 10px;
    border-top: 2px solid #000000;
    border-bottom: 1px dotted #000000;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.insta {
    background-image: url("images/insta600.png");    
}


.hkgold {
    background-image: url("images/HKGold600.png");    
}

.toasti {
    background-image: url("images/toasti600.png");
}

.tint {
    background-image: url("images/tint600.png");
}

.topYori {
    background-image: url("images/topYori600.png");
}

.cbmc {
    background-image: url("images/cbmc600.png");
}

.toDoSocketIO {
    background-image: url("images/toDoSocketIO.png");
}

.mingChiro {
    background-image: url("images/mingChiro600.png");
}

.toDoMySQL {
    background-image: url("images/ToDoMySQL.png");
}

.ginimoms {
    background-image: url("images/ginimoms600.png");
}

.kentec {
    background-image: url("images/kentec600.png");
}

.beomho {
    background-image: url("images/beomho600.png");
}




@media only screen and (min-width: 600px) {
    body{
       height: 250vh;
        padding: 10px;
    }

    header {
        padding: 0px 0px 30px 20px;
    }

    main { 
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      padding: 30px 50px 50px 50px;

    }

    p {
        border-top: 0px;
        border-bottom: 2px solid rgba(210, 213, 213, 1);
    }

    .box { 
        border: 1px solid rgba(108, 120, 127, 0.78);  
        height: 100%;
        display: block;
    }
    
    .architecture {

        background-image: url("images/geo.jpg");
    }

    .sand {       
        background-image: url("images/sand.jpg");
    }

    .bridge {       
        background-image: url("images/bridge.jpg");
    }

    .camera {        
        background-image: url("images/lens.jpg");
    }

}